<!DOCTYPE html>
<html>
   <head>
      <title>¡Bienvenido!</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta name="description" content="">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <link href="/css/styles.css" rel="stylesheet">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src = "/socket.io/socket.io.js"></script>
      <script src="/js/dashboard.js"></script>

   </head>
   
   <script>
      
   </script>
   
   <body>
     <div class="container" id="containerDashboard" ng-app="dashboard">
         <div class="row">
            <div class="col-xs-12 col-sm-4 dashboardColumnas">
               <div class="dashboarColumnasTxt">
                  <p>Información del usuario</p>
               </div>
               <div id="dashboardNombre" ng-controller="nombreCtrl">
                  <p class="dashboardUsuarioTxt"><span>Nombre</span>: {{nombre}}</p>
               </div>
               <p class="dashboardUsuarioTxt"><span>Solicitudes Pendientes</span>: </p>
               <!--Encabezado-->
               <div class="col-xs-12 col-sm-12" id="dashboardUsuarioSolicTxt">
                  <div class="col-xs-3 col-sm-3">
                     <!-- <p>Monto</p> -->Monto
                  </div>
                  <div class="col-xs-3 col-sm-3">
                     <!-- <p>Votos a favor</p> -->Votos a favor
                  </div>
                  <div class="col-xs-3 col-sm-3">
                     <!-- <p>Votos en contra</p> -->Votos en contra
                  </div>
                  <div class="col-xs-3 col-sm-3">
                     <!-- <p>Tiempo</p> -->Tiempo
                  </div>
               </div>
               <!--Registros-->
               <div class="col-xs-12 col-sm-12" id="dashboardUsuarioSolicReg">
                  <div class="col-xs-3 col-sm-3">
                     <p>$1000</p>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                     <p>5</p>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                     <p>3</p>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                     <p>4:30</p>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-4 dashboardColumnas" ng-controller="historyCtrl">
               <div class="dashboarColumnasTxt">
                  <p>Historial Crediticio</p>
               </div>
               <button id="NuevaSolicitud">Nueva Solicitud</button>
               <div id="solicitudCont">
                  <input id="solicitudMonto" type = "text" ng-model = "solicmonto" value = "" placeholder = "Monto a solicitar"><br>
                  <input type="radio" ng-model="solicpagos" value="0.05"> 3 Pagos<br>
                  <input type="radio" ng-model="solicpagos" value="0.07"> 6 Pagos<br>
                  <input type="radio" ng-model="solicpagos" value="0.12"> 9 Pagos<br>
                  <button name = "button" ng-click="enviarSolicitud()">Solicitar</button>
               </div>
            </div>
            <div class="col-xs-12 col-sm-4 dashboardColumnas" ng-controller="requestsCtrl">
               <div class="dashboarColumnasTxt">
                  <p>Solicitudes actuales</p>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>