html
{
  	height: 100%;
}
body
{
	background-image: url("/imgs/backgroundIndex.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
#contenedorForm
{
	width: 300px;
    text-align: center;
    padding: 100px 15px;
    border: 1px solid #fff;
    border-radius: 25px;
    background-image: url("/imgs/backgroundForm.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
	top: calc(50% - 150px);
	right: calc(50% - 150px);
}
#nombreTxt
{
	color: #fff;
	padding-right: 10px;
}
#btnEntrar
{
	margin-top: 15px;
	width: 100px;
    float: right;
    margin-right: 25px;
    border-radius: 0px;
}
.dashboardColumnas
{
    height: 500px;
    width: 32.33%;
    background-image: url("/imgs/backgroundDashbCont.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    padding-top: 10px;
}
.dashboardColumnas:first-child
{
	float: left;
}
.dashboardColumnas:nth-child(2)
{
    margin: 0px 17px;
}
 .dashboardColumnas:last-child
 {
 	float: right;
 }
 .dashboarColumnasTxt
 {
    width: 220px;
    height: 70px;
    background-color: darkcyan;
    position: absolute;
    left: 87px;
    top: -35px;
    z-index: -1;
    text-align: center;
 }
 .dashboardUsuarioTxt
 {
    font-size: 20px;

 }
 .dashboardUsuarioTxt span
 {
    text-decoration: underline;
 }
 .dashboarColumnasTxt p
 {
    margin-top: 5px;
    color: #fff;
    font-size: 17px;
 }
 #dashboardUsuarioSolicTxt
 {
    margin-bottom: 10px;
 }
 #dashboardUsuarioSolicTxt, #dashboardUsuarioSolicReg
 {
    border: 1px solid black;
    padding: 10px 0px;
 }
#dashboardUsuarioSolicTxt div, #dashboardUsuarioSolicReg div
{
    padding: 0px;
    text-align: center;
}
#solicitudCont
{
    display: none;
}
#footer
{
	position: absolute;
	bottom: 0;
	text-align: right;
    color: #fff;
    padding-bottom: 10px;
    font-size: 15px;
}
#containerDashboard
{
    margin-top: 100px;
}




